@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;700&display=swap');

*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Poppins;
scroll-behavior:smooth;
}

body{
background:linear-gradient(120deg,#0f2027,#203a43,#2c5364);
color:white;
}

/* NAVBAR */
.navbar{
display:flex;
justify-content:space-between;
padding:20px 60px;
background:rgba(0,0,0,0.4);
backdrop-filter:blur(10px);
position:sticky;
top:0;
}

.logo{
font-size:22px;
font-weight:bold;
color:#00e5ff;
}

.navbar a{
margin-left:25px;
text-decoration:none;
color:white;
}

/* HERO */
.hero{
height:90vh;
display:flex;
justify-content:center;
align-items:center;
text-align:center;
}

.hero span{
color:#00e5ff;
}

.buttons{
margin-top:20px;
}

.btn{
background:#00e5ff;
padding:12px 25px;
color:black;
text-decoration:none;
border-radius:8px;
margin-right:10px;
font-weight:bold;
}

.btn-outline{
border:2px solid #00e5ff;
padding:12px 25px;
color:#00e5ff;
text-decoration:none;
border-radius:8px;
}

/* GLASS CARD */
.glass{
margin:40px;
padding:30px;
background:rgba(255,255,255,0.1);
border-radius:12px;
backdrop-filter:blur(10px);
}

/* SKILLS */
#skills{
padding:40px;
text-align:center;
}

.skills-grid{
display:grid;
grid-template-columns:repeat(auto-fit,minmax(120px,1fr));
gap:15px;
margin-top:20px;
}

.skill-card{
background:#00e5ff;
color:black;
padding:15px;
border-radius:8px;
font-weight:bold;
}

/* PROJECTS */
#projects{
padding:40px;
}

.project-card{
background:rgba(255,255,255,0.1);
margin:15px 0;
padding:20px;
border-radius:10px;
}

/* CONTACT */
#contact{
text-align:center;
}

/* FOOTER */
footer{
text-align:center;
padding:20px;
margin-top:40px;
background:black;
}
